cradle:
  cabal:
    - path: "src"
      component: "lib:signature-visualizer"

    - path: "app/Main.hs"
      component: "signature-visualizer:exe:signature-visualizer"

    - path: "test"
      component: "signature-visualizer:test:signature-visualizer-test"
