* {
    font-family: American Typewriter, serif;
    margin-left: 16px;
}
body {
    background-color: antiquewhite;
}
a {
    margin: 0px;
}
form {
    margin-top: 16px;
    margin-left: 0px;
}
svg {
    margin-top: 32px;
}
.content {
    border-radius: 4px;
    margin-right: 16px;
    background-color: azure;
}
.air {
    margin-top: 8px;
    margin-bottom: 8px;
}
.lightgrey {
    background-color: azure;
}
.red {
    color: red;
}
.bluebg {
    background-color: lightskyblue;
}
.greenbg {
    background-color: lightgreen;
}
.showbg {
    background-color: snow;
}
.credits {
    font-size: 10px;
    color: lightslategrey;
}
