* {
    font-family: American Typewriter, serif;
}
.azure {
    background-color: azure;
}
.red {
    color: rgb(182, 63, 63);
}
.bluebg {
    background-color: lightskyblue;
}
.greenbg {
    background-color: lightgreen;
}
.snowbg {
    background-color: lightpink;
}
.content {
    overflow: auto;
}
.credits {
    font-size: 16px;
    color: lightslategrey;
}
/* mobile device */
@media only screen and (max-width:445px){
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    body {
        background-color: antiquewhite;
    }
    a {
        margin: 0px;
    }
    form {
        width: 100%;
        max-height: 100px;
    }
    input {
        padding: 10px;
        font-size: 16px;
    }
    button {
        padding: 4px;
        margin-top: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
    svg {
        margin-top: 20px;
        max-width: 3000px;
        max-height: 600px;
    }
    .credits {
        font-size: 13px;
        margin-top: 60px;
    }
}
/* desktop */
@media only screen and not (max-width:445px) {
    * {
        font-family: American Typewriter, serif;
    }
    h1 {
        margin-left: 16px;
    }
    p {
        margin-left: 16px;
    }
    body {
        background-color: antiquewhite;
    }
    a {
        margin: 0px;
    }
    form {
        width: 100%;
        max-height: 100px;
        margin-left: 16px;
    }
    input {
        padding: 10px;
        font-size: 16px;
    }
    button {
        padding: 4px;
        margin-top: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
    svg {
        margin-top: 20px;
        margin-left: 16px;
        max-width: 3000px;
        max-height: 600px;
    }
    .sharelink {
        margin-left: 16px;
    }
}